.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-dmsans);
}
.containerForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    z-index: 2;
    padding: 1.5rem 0.5rem;
    font-family: var(--font-dmsans);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.back {
    background-color: transparent;
    border: none;
    color: #151920;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}
.continue{
    background-color: #151920;
    border-radius: 25px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
    gap: 8px;
    border: none;
    cursor: pointer;
}