.containerProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.cardProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    width: 319px;
    height: 443px;
    border-radius: 15px;
    background-color: #FFFFFF;
    border: 0.78px solid #C1C1C1;
}

.ellipse1 {
    position: absolute;
    z-index: 8;
    width: 280px;
    height: 261px;
    border-radius: 307px;
    opacity: 0.2;
    background-color: #734AF9;
    filter: blur(100px);
    flex-shrink: 0;
}

.ellipse2 {
    position: absolute;
    width: 335.29px;
    height: 585.876px;
    transform: rotate(52.33deg);
    flex-shrink: 0;
    border-radius: 60%;
    border: 1px solid #CEDEFF;
    opacity: 0.7;
    z-index: 6;
}